.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 60px 20px;
}

.card {
  background: white;
  padding: 50px 30px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
}
