:root {
    /* LIGHT THEME */
    --bg: #ffffff;
    --bg-soft: #f9fafb;
  
    --text: #111111;
    --text-muted: #6b7280;
  
    --primary: #2563eb;
    --primary-dark: #1d4ed8;
  
    --border: #e5e7eb;
  }
  
  /* DARK THEME */
  [data-theme="dark"] {
    --bg: #0f172a;
    --bg-soft: #1e293b;
  
    --text: #f1f5f9;
    --text-muted: #94a3b8;
  
    --primary: #3b82f6;
    --primary-dark: #2563eb;
  
    --border: #334155;
  }