.featured-products {

    padding:45px 20px;
    
    }
    
    
    .featured-products h2 {
    
    font-size:32px;
    font-weight:700;
    margin-top:0;
    margin-bottom:35px;
    color:#111827;
    
    }
    
    
    
    .featured-grid {
    
    display:grid;
    
    grid-template-columns:repeat(4,1fr);
    
    gap:25px;
    
    max-width:1400px;
    
    margin:auto;
    
    }
    
    
    
    @media(max-width:1000px){
    
    .featured-grid {
    
    grid-template-columns:repeat(2,1fr);
    
    }
    
    }
    
    
    
    @media(max-width:600px){
    
    .featured-grid {
    
    grid-template-columns:1fr;
    
    }
    
    }