/* BACKDROP */
.country-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 99999;
}

/* MODAL */
.country-modal {
  width: 380px;
  max-height: 80vh;

  background: #fff;
  border-radius: 14px;

  padding: 16px;

  display: flex;
  flex-direction: column;

  box-shadow: 0 20px 60px rgba(0,0,0,0.25);
  color: #111;
}

/* HEADER */
.country-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}

.country-header h2 {
  font-size: 18px;
  font-weight: 700;
  color: #111;
}

/* INFO */
.country-info {
  font-size: 12px;
  color: #555;
  margin-bottom: 10px;
  line-height: 1.4;
}

/* SEARCH */
.country-search {
  width: 100%;
  padding: 10px 12px;

  border: 1px solid #ddd;
  border-radius: 10px;

  outline: none;
  font-size: 14px;

  margin-bottom: 10px;
  color: #111;
}

.country-search:focus {
  border-color: #2563eb;
}

/* LIST */
.country-list {
  overflow-y: auto;
  max-height: 300px;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* ITEM */
.country-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px;
  border-radius: 10px;

  cursor: pointer;
  transition: 0.2s;
}

.country-item:hover {
  background: #f3f4f6;
}


/* CLOSE BUTTON */
.close-btn {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  color: #111;
}

.close-btn:hover {
  color: #ef4444;
}